.godot/
.template.config/
bin/
obj/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
*.pdb
*.sln.DotSettings
Directory.Build.props
.env
.env.*
*.key
*.pfx
*.snk
credentials*.json
secrets*.json
workshop/content/
workshop/previews/
workshop/mod_id.txt
workshop/mod-uploader.log
